<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
       <a href="index.html" class="logo d-flex align-items-center">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">ABOUT US</a>
          </li>
   <li class="nav-item">
            <a class="nav-link" href="#">BASE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">CONTACT</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact" style="background-color: lightslategray">
      <div class="container" style="background-color: lightslategray">


        <div class="section-title" style="color: black">
          <span>Contact Me</span>
          <h2>Contact Me</h2>


          <p>If you like to ask any question or you want a website to be created for you, contact me through:</p>
        </div>

         <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <h3 style="text-align: center; color: black"><i class="bx bx-share-alt" style="color: black">Social Profiles</i></h3>

                  <div class="social-links" style="text-align: center; ">

                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>

        <div class="row">

          <div class="col-lg-4">


              <div class="col-md-4" style="color: black">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Me</h3>
                  <p>alvoh@gmail.com</p>
                </div>
              </div>
              <div class="col-md-4" style="color: black">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Me</h3>
                  <p>+25422200055</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" style="width: 100%">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form" style="background-color: #4a4f55">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required style="background-color: pink;">
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required style="background-color: pink">
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required style="background-color: pink">
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required style="background-color: pink"></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

    </div>
    </section>
</body>
</html>